[Unit]
Description=Xkeysnail Service

[Service]
Type=simple
Environment=DISPLAY=:1
ExecStartPre=/usr/bin/xhost +SI:localuser:root
ExecStart=/home/i05/.pyenv/shims/xkeysnail /home/i05/dotfiles/.xkeysnail/config.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
