[Unit]
Description=Xkeysnail Service

[Service]
Type=simple
Environment=DISPLAY=:1
ExecStartPre=/usr/bin/xhost +SI:localuser:root
ExecStart=/usr/local/bin/xkeysnail /etc/xkeysnail/config.py
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
