# Ignore all
/*
# Ignore all dotfiles
/.*

# Do not ignore
!README.md
!/setup.sh

# setup.sh handle files with !-prefix
!/osx_bundle.sh

!/.Xmodmap
!/.ctags

# bash
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.bash_dep

# Zsh
!/.zshrc
!/.zshrc.alias
!/.zshrc.custom
!/.zshrc.linux
!/.zshrc.osx

# vim
!/.vimrc
!/.vimrc.plugin
!/.gvimrc
!/.vim/

# git
!/.gitignore
!/.gitignore_global
!/.gitconfig
!/.gitmodules

# screen
!/.screenrc
!/.tmux.conf

# git hooks
!/git_hooks/

# Ruby
!/Gemfile
!/.pryrc
!/.gemrc

# PHP
!/composer.json

# Haskell
!/.ghci

# JavaScript
!/.jshintrc
!/.jslintrc

# EditorConfig
!/.editorconfig

# Ignore
.vim/backups/
.vim/bundle/
.vim/bundle/neomru.vim
