# Ignore all
/*
# Ignore all dotfiles

# Do not ignore
!/.travis.yml
!/d
!/README.md
!/script
!/.config

# etc
!/.Xmodmap
!/.ctags

# bash
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.bash_dep

# Zsh
!/.zshrc
!/.zshrc.alias
!/.zshrc.custom
!/.zshrc.linux
!/.zshrc.osx

# vim
!/.vimrc
!/.vimrc.plugin
!/.gvimrc
!/.vim/

# git
!/.gitignore
!/.gitignore_global
!/.gitconfig
!/.gitmodules

# screen
!/.screenrc
!/.tmux.conf

# git hooks
!/git_hooks/

# Ruby
!/Gemfile
!/.pryrc
!/.gemrc

# Haskell
!/.ghci

# EditorConfig
!/.editorconfig

# Ignore
.vim/backups/
.vim/bundle/
