
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus

[[ -f ~/.Xmodmap ]] && xmodmap ~/.Xmodmap

[[ -x "$(command -v xbindkeys)" ]] && xbindkeys

if [[ -x /usr/bin/xkeysnail ]]; then
  xhost +SI:localuser:xkeysnail
  systemctl --user restart xkeysnail.service
fi
